<h1>Listing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <td>&nbsp;</td>
      <th>State</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.test_country %></td>
        <td>&nbsp;</td>
        <td><%= location.test_state %></td>
        <td>&nbsp;</td>
        <td><%= link_to "X", location, :method => :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path, class: "btn btn-success" %>
